version: 2
jobs:
  build:
    docker:
      - image: cimg/openjdk:19.0.2 #we create a docker image using circle's openjdk
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASS

    working_directory: ~/SImpleGraphQL

    steps:
      # git pull
      - checkout

      # setup testing env
      # the following commented lines are not allowed in the free version of circleci
      #       - setup_remote_docker:
      #           docker_layer_caching: true
#      - run:
#          name: Login to DockerHub
#          command: docker login --username=$DOCKER_USER --password=$DOCKER_PASS
#          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Decrpyt Secrets
          command: openssl enc -d -aes-256-ecb -md md5 -in src/main/resources/application-prod.properties.secrets -out src/main/resources/application-prod.properties -k $OPEN_SSL_PASSWORD

      # Download and cache dependencies
      - restore_cache:
          keys:
            - simple-graphql-api-{{ checksum "pom.xml" }}

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: simple-graphql-api-{{ checksum "pom.xml" }}

      # package into a jar
      - run: mvn clean package

      # build and push docker image to docker hub
      - run: mvn clean compile jib:build -Dimage=iykeafrica/simple-graphql-api:$CIRCLE_BUILD_NUM

      # store raw contents of src code
      - store_artifacts:
          path: target/classes
          destination: simple-graphql-api